input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #fce5e5; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
 }
  
 
  input[type=submit] {
    background-color: #050605;
    color: rgb(130, 232, 188);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: rgba(121, 107, 107, 0.84);
  }
  

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }